<form #form="ngForm" (ngSubmit)="onSubmit(form.form)">
    <div style="padding-left: 3em; padding-top: 2em;">
  <mat-form-field>
    <input
        matInput
        placeholder="Username"
        required
        [(ngModel)]="user.username"
        name="username"
        #username="ngModel"
    />
    <mat-error *ngIf="username.invalid">Username is required</mat-error>
  </mat-form-field>
</div>

<div style="padding-left: 3em;">
  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      required
      [type]="hidePassword ? 'password' : 'text'"
      [(ngModel)]="user.password"
      name="password"
      #password="ngModel"
    />
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="password.invalid">Password is required</mat-error>
  </mat-form-field>
</div>
<div style="padding-left: 3em;">
    <button
      mat-raised-button
      type="submit"
      color="accent"
      [disabled]="form.form.invalid"
    >
      Login
    </button>
  </div>
</form>

