<div>
    <h1>Element list</h1>
    <div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            
            <ng-container>
                <tr>
                    <td>{{ element.title }}</td>
                    <td>{{ element.status }}</td>
                </tr>
            </ng-container>
            <tr >
                <td
                    colspan="3"
                >No element int the table</td>
            </tr>
        </tbody>
    </table>
</div>
