<div style="padding-left: 3em;">
    <div>
    </div>
    <table>
            
        <tbody>
            
            <ng-container
                *ngIf="elementService.getElements.length > 0"
            >
            <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
            
                <tr
                    *ngFor="let element of elementService.getElements"
                    [routerLink]="['/', 'elements', element.id]"
                >
                    <td>{{ element.elementName }}</td>
                    <td>{{ element.elementStatus }}</td>
                </tr>
            </ng-container>
            <tr
                *ngIf="elementService.getElements.length === 0"
            >
                <td
                    colspan="3"
                >No elements</td>
            </tr>
    <div>
        <app-element-form></app-element-form>
    </div>
        </tbody>
    </table>
</div>


        
