<div>
    <h1>My Family</h1>
    <table visible="true">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Geri</td>
                <td>Admin</td>
            </tr>
            <tr>
                <td>Péter</td>
                <td>Admin</td>
            </tr>
            <tr>
                <td>Zoli</td>
                <td>User</td>
            </tr>
        </tbody>
    </table>
</div>