<form #form="ngForm" (ngSubmit)="submitElement(form.form)">
    <div>
        <mat-form-field>
        <input
            matInput
            placeholder="New element"
            [(ngModel)]="element.elementName"
            name="name"
            required
            #name="ngModel"
            [disabled]="mode === 'edit'"
        />
        <mat-error
            *ngIf="
            name.invalid &&
            (name.touched || name.dirty) &&
            name.errors['required']
            "
        >
            Name is required!
        </mat-error>
        </mat-form-field>

        <button mat-button color="accent">Add</button>
    </div>        
    
</form>