<form #form="ngForm" (ngSubmit)="submitTable(form.form)">
    <mat-form-field>
        <input
            
            matInput
            placeholder="Create new task"
            [(ngModel)]="table.taskName"
            name="taskName"
            required
            #taskName="ngModel"
            [disabled]="role === 'ROLE_USER'"
        />
        
    </mat-form-field>

    <button 
        mat-button 
        color="accent"
        [disabled]="role === 'ROLE_USER'"
    >
        Add
    </button>       
    
</form>

