<div style="padding-left: 3em; padding-top: 2em;">
    <table>
        <table mat-table 
            class="mat-elevation-z8"
            width="50%;"
        >
            <tr>
                <th mat-header-cell> Name </th>
                <th mat-header-cell> Status </th>
            </tr>
            <ng-container
                *ngFor = "let element of table?.elements"
            >
                <tr>
                    <td mat-cell >{{ element?.elementName }}</td>
                    <td mat-cell >{{ element?.elementStatus }}</td>
                </tr>
            </ng-container>
        </table>
        <tr>
            <app-element-new></app-element-new>            
        </tr>
    </table>
    
            
    <div>
        <button
            mat-button
            style="padding-top: 1em; padding-left: 2em;"
            color="accent"
            (click)="editTable()"
        >Edit
        </button>
    </div>
</div>
