<div>
    <li
        *ngFor = "let element of table.elements"
     >
    
            <div>
                <span>Name:</span>
                <span>{{ element?.name }}</span>
            </div>
            
            <div>
                <span>Status:</span>
                <span>{{ element?.status }}</span>
            </div>
            
            <div>
                <button
                    mat-raised-button
                    color="accent"
                    (click)="editTable()"
                >Edit</button>
            </div>
        </li>
</div>
