<div style="padding-left: 1.6em; padding-top: 2em;">
    <table mat-table class="mat-elevation-z8" width="14%;" *ngIf="table?.elements.length > 0">
        <tr>
            <th mat-header-cell style="padding-bottom: 1em;">
                <h4>Name </h4>
            </th>
            <th mat-header-cell style="padding-bottom: 1em;">
                <h4>Status </h4>
            </th>
        </tr>
        <ng-container *ngFor="let element of table?.elements">
            <tr>
                <td mat-cell style="padding-left: 0.5em;">{{ element?.elementName }}</td>
                <td mat-cell style="padding-left: 2e; text-align: center;">{{ element?.elementStatus }}</td>
            </tr>
        </ng-container>
    </table>

</div>
<div *ngIf="table?.elements.length === 0" style="padding-left: 2em; padding-top: 2em;">
    <h4>
        You have no element in this task! Add a new one!
    </h4>
</div>
<app-element-new></app-element-new>
<div style="padding-left: 1.7em; padding-top: 1em;">
    <button mat-raised-button color="primary" (click)="goToTables()">Back to tables
    </button>
    <!-- <button mat-raised-button color="accent" (click)="editTable()" *ngIf="table?.elements.length > 0">Edit task
    </button> -->
</div>