<div style="padding-left: 3em;">
        <h1>My Tasks</h1>
        <div>
        </div>
        <table>
            <tbody>
                
                <ng-container
                    *ngIf="tableService.fTables.length > 0"
                >
                    <tr
                        *ngFor="let table of tableService.fTables"
                        [routerLink]="['/', 'tables']"
                    >
                        <td><h3>{{ table.taskName }}</h3></td>
                        <td *ngFor="let element of table.elements">
                            <br>
                                {{element.elementName}}
                        </td>                        
                    </tr>
                </ng-container>
                <tr
                    *ngIf="tableService.fTables.length === 0"
                >
                    <div style="padding-left: 2em;">
                        <h4>
                            You have no tables:( Create one!
                        </h4>
                    </div>
                </tr>
                <div>
                    <app-table-form></app-table-form>
                </div>
        
            </tbody>
        </table>
    </div>
    