

<div style="padding-left: 3em;">
        <h2>My tasks</h2>
        <div>
        </div>
        <table>
            <tbody>
                
                <ng-container
                    *ngIf="tableService.getTables.length > 0"
                >
                    <tr
                        *ngFor="let table of tableService.getTables"
                        [routerLink]="['/', 'tables', table.id]"
                    >
                        <td>{{ table.name }}</td>
                    </tr>
                </ng-container>
                <tr
                    *ngIf="tableService.getTables.length === 0"
                >
                    <td
                        colspan="3"
                    >No table:( Create one!</td>
                </tr>
        <div>
            <app-table-form></app-table-form>
        </div>
            </tbody>
        </table>
    </div>
    